* {
  margin: 0;
}

body {
  background: linear-gradient(
    to left,
    rgb(14, 110, 86) 0%,
    rgb(114, 224, 160) 100%
  );
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 2em;
}
